[submodule "ArduinoIO"]
	path = distribution/Elements/CircuitElements/Interface/Arduino_IO_RPI_JV
	url = https://github.com/sPyOpenSource/ArduinoIO.git
[submodule "RaspberryGPIO"]
	path = distribution/Elements/CircuitElements/Interface/Raspberry_GPIO
	url = https://github.com/sPyOpenSource/RaspberryGPIO.git
[submodule "MicroPython"]
	path = distribution/Elements/CircuitElements/Interface/MicroPython
	url = https://github.com/sPyOpenSource/armOS.git
	branch = micropython
[submodule "Compiler"]
	path = distribution/Elements/CircuitElements/Interface/Compiler
	url = https://github.com/sPyOpenSource/Compiler.git
[submodule "Slicer"]
	path = distribution/Elements/CircuitElements/Interface/Slicer
	url = https://github.com/sPyOpenSource/slicer.git
[submodule "Simulator"]
	path = distribution/Elements/CircuitElements/Interface/Simulator
	url = https:/github.com/sPyOpenSource/Application.git
	branch = simulator
[submodule "OpenPnP"]
	path = distribution/Elements/CircuitElements/Interface/OpenPnP
	url = https://gl.tetra.nl/xuyi/openpnp.git
