/distribution/Elements/CircuitElements/Interface/Raspberry_GPIO/build/
/distribution/Elements/CircuitElements/Interface/Raspberry_GPIO/dist/
/build/
/nbproject/private/
/dist/
/distribution/Elements/CircuitElements/Interface/Firmata/nbproject/private/
/distribution/Elements/CircuitElements/Interface/Firmata/build/
/distribution/Elements/CircuitElements/Interface/Arduino_IO_RPI_JV/nbproject/private/
/distribution/Elements/CircuitElements/Interface/Raspberry_GPIO/nbproject/private/
/distribution/Elements/CircuitElements/Interface/Arduino_IO_RPI_JV/dist/
/distribution/Elements/CircuitElements/Interface/Arduino_IO_RPI_JV/build/
/distribution/Elements/CircuitElements/Interface/MicroPython/nbproject/private/
/distribution/Elements/CircuitElements/Interface/MicroPython/build/
/distribution/Elements/CircuitElements/Interface/MicroPython/dist/
/distribution/Elements/CircuitElements/System_Control/CMDWRITE/nbproject/private/
/distribution/Elements/CircuitElements/System_Control/CMDWRITE/build/
/distribution/Elements/CircuitElements/System_Control/CMDWRITE/dist/
*.~ava
/distribution/Elements/FrontElements/Version_2_0/VMElementUniversal/build/
/distribution/Elements/FrontElements/Version_2_0/VMElementUniversal/dist/